.title{margin:30px 0 24px 24px;overflow: hidden;height: 40px;}
.title span{color: #4d98ef;line-height: 40px ;}
.title>img{vertical-align: middle;}
.classlist>ul{margin-top: 10px;}
.classlist>ul>a{box-shadow: 0 0 5px #ccc;display: block; background: #fff;overflow: hidden; border-radius: 5px; width: 97%; height:120px ;margin: 0 auto;position: relative;}
.classlist>ul>a:active{background: #eee;}
.classlist>ul a .img1{position: absolute;top: 20px;left:10px;}
.classlist>ul a .img2{position: absolute;top: 48px;right:16px;}
.classlist>ul a p{position: absolute;font-size: 28px;left: 70px ;top: 18px;}
.classlist>ul a ul{font-size: 24px;position: absolute;top: 74px;left: 70px;}
.classlist>ul a ul li{float: left;margin-right: 3px;color: #c9c9c9;}
.xian{font-size: 14px;}

