<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                    <form class="form-horizontal" action="{:U('sedit')}" method="post">
									<input type="hidden" name="id" value="{$result.id}" id="id" />
                                    <input type="hidden" name="uid" value="{$result.uid}" id="uid" />
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 名称标题 </label>
										<div class="col-sm-10">
											<input type="text" name="title" id="title" placeholder="名称标题" class="col-xs-10 col-sm-10" value="{$result.title}">
										</div>
									</div>
                                    
                                     <div class="space-4"></div>

									<!--<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 课程类型 </label>
										<div class="col-sm-9">
                                         	<img src="__ROOT__{$result.author}" width="60" height="60">
											<select id="zuid" name="zuid" class="multiselect">
                                            		<option value="0">暂无类型</option>
                                                <volist name="list" id="val">
                                                    <option value="{$val.id}" <if condition="$val['id'] eq $result['zuid']">selected="selected"</if>>{$val.xingming}</option>
                                                </volist>    
											</select>
										</div>
									</div>-->
                                    								
									<div class="space-4"></div>
									
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 内容信息 </label>
										<div class="col-sm-10">
                                             <textarea name="content" id="content" style="width:100%;height:400px;visibility:hidden;">{$result.content}</textarea>
										</div>
									</div>
                                    
                                    <div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="id-date-picker-1">开始时间</label>
										<div class="col-xs-9 col-sm-9">
											<div class="input-group col-xs-5">
												<input class="form-control" id="ktime" name="ktime" type="text" value="{$result.ktime|date="Y-m-d H:i:s",###}" />
												<span class="input-group-addon">
													<i class="ace-icon fa fa-calendar bigger-110"></i>
												</span>
											</div>
										</div>
									</div>
                                    
                                    <div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-6"> 限定名额 </label>
										<div class="col-sm-9">
											<input type="text" name="xdnum" id="xdnum" placeholder="限定名额" class="col-xs-10 col-sm-5" value="{$result.xdnum}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-8"> 活动地址 </label>
										<div class="col-sm-9">
											<input type="text" name="address" id="address" placeholder="活动地址" class="col-xs-10 col-sm-5" value="{$result.address}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle"></span>
											</span>
										</div>
									</div>
									

									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info" type="submit">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->
<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jquery.css">        
<script type="text/javascript" src="__PUBLIC__/Home/js/jq_t.js"></script>        
<script type="text/javascript">
$('#ktime').datetimepicker({
	mask:'9999-19-39 29:59'
});
$(function() {
	var editor = KindEditor.create('textarea[name="content"]',{
		uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
		fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
		allowFileManager : true,
		afterBlur:function(){this.sync();}  
		});
});
</script>
	</body>
</html>
